In [41]:
!pip install langchain_openai -q
!pip install langchain_community -q
!pip install langchain -q

In [42]:
import sqlite3

In [43]:
Dbconnect = sqlite3.connect("Hospital.db")

In [44]:
HospitalDB = Dbconnect.cursor()

In [45]:

# Create the Doctors table
HospitalDB.execute("""
CREATE TABLE IF NOT EXISTS Doctors (
    Doctor_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL            
)""")


Doctors = [
        ("Dr. Namalie", 45),
        ("Dr. Nalin", 38),
        ("Dr. Gihan", 50),
        ("Dr. Wasana", 40),
        ("Dr. Anjana", 35),
        ("Dr. Nadeesha", 42),
        ("Dr. Kavindya", 32),
        ("Dr. Malith", 48),
        ("Dr. Sithara", 37),
        ("Dr. Anushka", 35),
    ]
    
HospitalDB.executemany("INSERT INTO Doctors (name, age) VALUES (?, ?)", Doctors)


# Fetch all records from Doctors table
HospitalDB.execute("SELECT * FROM Doctors")
Doctors_Data = HospitalDB.fetchall()

# Print table header
print("Doctor_id | Name         | Age")
print("------------------------------")

# Print each row
for row in Doctors_Data:
    print(f"{row[0]:<9} | {row[1]:<12} | {row[2]}")

Doctor_id | Name         | Age
------------------------------
1         | Dr. Namalie  | 45
2         | Dr. Nalin    | 38
3         | Dr. Gihan    | 50
4         | Dr. Wasana   | 40
5         | Dr. Anjana   | 35
6         | Dr. Nadeesha | 42
7         | Dr. Kavindya | 32
8         | Dr. Malith   | 48
9         | Dr. Sithara  | 37
10        | Dr. Anushka  | 35
11        | Dr. Namalie  | 45
12        | Dr. Nalin    | 38
13        | Dr. Gihan    | 50
14        | Dr. Wasana   | 40
15        | Dr. Anjana   | 35
16        | Dr. Nadeesha | 42
17        | Dr. Kavindya | 32
18        | Dr. Malith   | 48
19        | Dr. Sithara  | 37
20        | Dr. Anushka  | 35
21        | Dr. Namalie  | 45
22        | Dr. Nalin    | 38
23        | Dr. Gihan    | 50
24        | Dr. Wasana   | 40
25        | Dr. Anjana   | 35
26        | Dr. Nadeesha | 42
27        | Dr. Kavindya | 32
28        | Dr. Malith   | 48
29        | Dr. Sithara  | 37
30        | Dr. Anushka  | 35
31        | Dr. Namalie  | 45
32        | Dr. Nalin    | 38
33        | Dr. Gihan    | 50
34        | Dr. Wasana   | 40
35        | Dr. Anjana   | 35
36        | Dr. Nadeesha | 42
37        | Dr. Kavindya | 32
38        | Dr. Malith   | 48
39        | Dr. Sithara  | 37
40        | Dr. Anushka  | 35

In [46]:
HospitalDB.execute("""
CREATE TABLE IF NOT EXISTS Patients (
    patient_id INTEGER PRIMARY KEY AUTOINCREMENT,
    patient_name TEXT NOT NULL,
    age INTEGER NOT NULL
)
""")

In [47]:
patients = [
    ("Alice Perera", 30),
    ("Bob Fernando", 45),
    ("Chamara Silva", 27),
    ("Dinesh Wickramasinghe", 52),
    ("Erandi Jayasuriya", 36),
    ("Farah Imtiaz", 40),
    ("Gihan Rajapaksha", 29),
    ("Hiruni Madushani", 33),
    ("Ishara Weerasinghe", 41),
    ("Janith Kumara", 25)
]

HospitalDB.executemany(
    "INSERT INTO Patients (patient_name, age) VALUES (?, ?)",
    patients
)

In [48]:

# Execute a SELECT query to fetch all data from Patients table
HospitalDB.execute("SELECT * FROM Patients")

# Fetch all rows
patients_data =  HospitalDB.fetchall()

# Print the results
print("Patients Table:")
print("ID | Name                     | Age")
print("-" * 40)
for row in patients_data:
    print(f"{row[0]:<3} | {row[1]:<24} | {row[2]}")

Patients Table:
ID | Name                     | Age
----------------------------------------
1   | Alice Perera             | 30
2   | Bob Fernando             | 45
3   | Chamara Silva            | 27
4   | Dinesh Wickramasinghe    | 52
5   | Erandi Jayasuriya        | 36
6   | Farah Imtiaz             | 40
7   | Gihan Rajapaksha         | 29
8   | Hiruni Madushani         | 33
9   | Ishara Weerasinghe       | 41
10  | Janith Kumara            | 25
11  | Alice Perera             | 30
12  | Bob Fernando             | 45
13  | Chamara Silva            | 27
14  | Dinesh Wickramasinghe    | 52
15  | Erandi Jayasuriya        | 36
16  | Farah Imtiaz             | 40
17  | Gihan Rajapaksha         | 29
18  | Hiruni Madushani         | 33
19  | Ishara Weerasinghe       | 41
20  | Janith Kumara            | 25
21  | Alice Perera             | 30
22  | Bob Fernando             | 45
23  | Chamara Silva            | 27
24  | Dinesh Wickramasinghe    | 52
25  | Erandi Jayasuriya        | 36
26  | Farah Imtiaz             | 40
27  | Gihan Rajapaksha         | 29
28  | Hiruni Madushani         | 33
29  | Ishara Weerasinghe       | 41
30  | Janith Kumara            | 25
31  | Alice Perera             | 30
32  | Bob Fernando             | 45
33  | Chamara Silva            | 27
34  | Dinesh Wickramasinghe    | 52
35  | Erandi Jayasuriya        | 36
36  | Farah Imtiaz             | 40
37  | Gihan Rajapaksha         | 29
38  | Hiruni Madushani         | 33
39  | Ishara Weerasinghe       | 41
40  | Janith Kumara            | 25

In [49]:
HospitalDB.execute("""
CREATE TABLE IF NOT EXISTS Appointments (
    appointment_id INTEGER PRIMARY KEY AUTOINCREMENT,
    doctor_id INTEGER NOT NULL,
    patient_id INTEGER NOT NULL,
    appointment_date TEXT NOT NULL,
    FOREIGN KEY (doctor_id) REFERENCES Doctors (Doctor_id),
    FOREIGN KEY (patient_id) REFERENCES Patients (patient_id)
)
""")

In [50]:
# Sample data: (doctor_id, patient_id, appointment_date)
appointments = [
    (1, 1, '2025-06-01'),
    (2, 2, '2025-06-02'),
    (3, 3, '2025-06-03'),
    (4, 4, '2025-06-04'),
    (1, 5, '2025-06-05'),  # same doctor, different patient
    (2, 1, '2025-06-06'),  # same patient, different doctor
]

# Insert data into Appointments table
HospitalDB.executemany("""
    INSERT INTO Appointments (doctor_id, patient_id, appointment_date)
    VALUES (?, ?, ?)
""", appointments)

In [51]:
# View Appointments table

HospitalDB.execute("SELECT * FROM Appointments")
rows = HospitalDB.fetchall()

print("appointment_id | doctor_id | patient_id | appointment_date")
print("----------------------------------------------------------")
for row in rows:
    print(f"{row[0]:<16} {row[1]:<12} {row[2]:<11} {row[3]}")

appointment_id | doctor_id | patient_id | appointment_date
----------------------------------------------------------
1                1            1           2025-06-01
2                2            2           2025-06-02
3                3            3           2025-06-03
4                4            4           2025-06-04
5                1            5           2025-06-05
6                2            1           2025-06-06
7                1            1           2025-06-01
8                2            2           2025-06-02
9                3            3           2025-06-03
10               4            4           2025-06-04
11               1            5           2025-06-05
12               2            1           2025-06-06
13               1            1           2025-06-01
14               2            2           2025-06-02
15               3            3           2025-06-03
16               4            4           2025-06-04
17               1            5           2025-06-05
18               2            1           2025-06-06
19               1            1           2025-06-01
20               2            2           2025-06-02
21               3            3           2025-06-03
22               4            4           2025-06-04
23               1            5           2025-06-05
24               2            1           2025-06-06

In [52]:
# Create the MedicalRecords table
HospitalDB.execute("""
CREATE TABLE IF NOT EXISTS MedicalRecords (
    record_id INTEGER PRIMARY KEY AUTOINCREMENT,
    patient_id INTEGER NOT NULL,
    doctor_id INTEGER NOT NULL,
    diagnosis TEXT NOT NULL,
    treatment TEXT NOT NULL,
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id),
    FOREIGN KEY (doctor_id) REFERENCES Doctors(Doctor_id)
)
""")

In [53]:
# Sample data: (patient_id, doctor_id, diagnosis, treatment)
medical_records = [
    (1, 1, 'Flu', 'Rest and hydration'),
    (2, 2, 'Hypertension', 'Medication and lifestyle change'),
    (3, 3, 'Fractured Arm', 'Cast and physiotherapy'),
    (4, 4, 'Arthritis', 'Painkillers and physical therapy'),
    (5, 1, 'Common Cold', 'Paracetamol and rest'),
    (2, 3, 'Back Pain', 'Exercises and posture correction'),
    (1, 2, 'Migraine', 'Aspirin and rest'),
    (3, 4, 'Stomach Ache', 'Antacids and dietary changes'),
    (4, 1, 'Allergic Reaction', 'Antihistamines and avoiding triggers'),
]

# Insert data into MedicalRecords table
HospitalDB.executemany("""
    INSERT INTO MedicalRecords (patient_id, doctor_id, diagnosis, treatment)
    VALUES (?, ?, ?, ?)
""", medical_records)

In [54]:

HospitalDB.execute("SELECT * FROM MedicalRecords")
rows = HospitalDB.fetchall()

print("record_id | patient_id | doctor_id | diagnosis         | treatment")
print("--------------------------------------------------------------------------")
for row in rows:
    print(f"{row[0]:<12} {row[1]:<13} {row[2]:<12} {row[3]:<20} {row[4]}")

record_id | patient_id | doctor_id | diagnosis         | treatment
--------------------------------------------------------------------------
1            1             1            Flu                  Rest and hydration
2            2             2            Hypertension         Medication and lifestyle change
3            3             3            Fractured Arm        Cast and physiotherapy
4            4             4            Arthritis            Painkillers and physical therapy
5            5             1            Common Cold          Paracetamol and rest
6            2             3            Back Pain            Exercises and posture correction
7            1             2            Migraine             Aspirin and rest
8            3             4            Stomach Ache         Antacids and dietary changes
9            4             1            Allergic Reaction    Antihistamines and avoiding triggers
10           1             1            Flu                  Rest and hydration
11           2             2            Hypertension         Medication and lifestyle change
12           3             3            Fractured Arm        Cast and physiotherapy
13           4             4            Arthritis            Painkillers and physical therapy
14           5             1            Common Cold          Paracetamol and rest
15           2             3            Back Pain            Exercises and posture correction
16           1             2            Migraine             Aspirin and rest
17           3             4            Stomach Ache         Antacids and dietary changes
18           4             1            Allergic Reaction    Antihistamines and avoiding triggers
19           1             1            Flu                  Rest and hydration
20           2             2            Hypertension         Medication and lifestyle change
21           3             3            Fractured Arm        Cast and physiotherapy
22           4             4            Arthritis            Painkillers and physical therapy
23           5             1            Common Cold          Paracetamol and rest
24           2             3            Back Pain            Exercises and posture correction
25           1             2            Migraine             Aspirin and rest
26           3             4            Stomach Ache         Antacids and dietary changes
27           4             1            Allergic Reaction    Antihistamines and avoiding triggers
28           1             1            Flu                  Rest and hydration
29           2             2            Hypertension         Medication and lifestyle change
30           3             3            Fractured Arm        Cast and physiotherapy
31           4             4            Arthritis            Painkillers and physical therapy
32           5             1            Common Cold          Paracetamol and rest
33           2             3            Back Pain            Exercises and posture correction
34           1             2            Migraine             Aspirin and rest
35           3             4            Stomach Ache         Antacids and dietary changes
36           4             1            Allergic Reaction    Antihistamines and avoiding triggers

In [55]:
HospitalDB.execute("SELECT * FROM Doctors")
Doctors = HospitalDB.fetchall()
print(Doctors)

[(1, 'Dr. Namalie', 45), (2, 'Dr. Nalin', 38), (3, 'Dr. Gihan', 50), (4, 'Dr. Wasana', 40), (5, 'Dr. Anjana', 35), (6, 'Dr. Nadeesha', 42), (7, 'Dr. Kavindya', 32), (8, 'Dr. Malith', 48), (9, 'Dr. Sithara', 37), (10, 'Dr. Anushka', 35), (11, 'Dr. Namalie', 45), (12, 'Dr. Nalin', 38), (13, 'Dr. Gihan', 50), (14, 'Dr. Wasana', 40), (15, 'Dr. Anjana', 35), (16, 'Dr. Nadeesha', 42), (17, 'Dr. Kavindya', 32), (18, 'Dr. Malith', 48), (19, 'Dr. Sithara', 37), (20, 'Dr. Anushka', 35), (21, 'Dr. Namalie', 45), (22, 'Dr. Nalin', 38), (23, 'Dr. Gihan', 50), (24, 'Dr. Wasana', 40), (25, 'Dr. Anjana', 35), (26, 'Dr. Nadeesha', 42), (27, 'Dr. Kavindya', 32), (28, 'Dr. Malith', 48), (29, 'Dr. Sithara', 37), (30, 'Dr. Anushka', 35), (31, 'Dr. Namalie', 45), (32, 'Dr. Nalin', 38), (33, 'Dr. Gihan', 50), (34, 'Dr. Wasana', 40), (35, 'Dr. Anjana', 35), (36, 'Dr. Nadeesha', 42), (37, 'Dr. Kavindya', 32), (38, 'Dr. Malith', 48), (39, 'Dr. Sithara', 37), (40, 'Dr. Anushka', 35)]

In [56]:
HospitalDB.execute("""SELECT D.name, p.patient_name, A.appointment_date
FROM Doctors D
JOIN Appointments A ON D.Doctor_id = A.doctor_id
JOIN Patients p ON p.patient_id = A.appointment_id
WHERE D.name = 'Dr. Namalie';""")
Doctors = HospitalDB.fetchall()
print(Doctors)

[('Dr. Namalie', 'Alice Perera', '2025-06-01'), ('Dr. Namalie', 'Erandi Jayasuriya', '2025-06-05'), ('Dr. Namalie', 'Gihan Rajapaksha', '2025-06-01'), ('Dr. Namalie', 'Alice Perera', '2025-06-05'), ('Dr. Namalie', 'Chamara Silva', '2025-06-01'), ('Dr. Namalie', 'Gihan Rajapaksha', '2025-06-05'), ('Dr. Namalie', 'Ishara Weerasinghe', '2025-06-01'), ('Dr. Namalie', 'Chamara Silva', '2025-06-05')]

In [57]:
# Load API key from .env file
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

# Now you can safely access your API key
api_key = os.getenv("OPENAI_API_KEY")

# You can verify it's loaded (prints first 10 chars followed by ...)
print(f"API key loaded: {api_key[:10]}...") if api_key else print("API key not found")

API key loaded: gsk_o9c1ew...

In [58]:
Dbconnect.commit()

In [81]:
# Import the SQLDatabase module
from langchain_community.utilities.sql_database import SQLDatabase

# Create a SQLDatabase instance from your existing database
db_path = "sqlite:///Hospital.db"
db = SQLDatabase.from_uri(db_path)

In [82]:
# Check if langchain_community is installed correctly
import sys
print(f"Python interpreter: {sys.executable}")

try:
    import langchain_community
    print(f"langchain_community version: {langchain_community.__version__}")
    print("✅ Package is installed correctly!")
except ImportError:
    print("❌ Package is not installed correctly!")

Python interpreter: c:\Users\yasiru\AppData\Local\Programs\Python\Python310\python.exe
langchain_community version: 0.3.24
✅ Package is installed correctly!

In [83]:
from langchain_groq import ChatGroq

# Replace your current OpenAI implementation with Groq
llm = ChatGroq(
    model="llama2-70b-4096",
    temperature=0,
    groq_api_key=api_key
)

In [87]:
from langchain_groq import ChatGroq

# Replace your current OpenAI implementation with Groq
llm = ChatGroq(
    model="llama-3.3-70b-versatile",
    temperature=0,
    groq_api_key=api_key
)

In [91]:
# Simple test function
def test_llm():
    try:
        # Make a simple request
        response = llm.invoke("Hello, are you working properly?")
        print("✅ Connection successful!")
        print(f"Model response: {response.content[:10000]}...")  
    except Exception as e:
        print("❌ Error connecting to Groq:")
        print(f"Error type: {type(e).__name__}")
        print(f"Error message: {str(e)}")
        return False

# Run the test
test_llm()

✅ Connection successful!
Model response: I'm functioning as intended. I can understand and respond to your questions and engage in conversation. Is there something specific you'd like to talk about or ask? I'm here to help....

In [62]:
# Show all tables in the Hospital database
tables = db.get_table_names()
print("Tables in the Hospital database:")
for table in tables:
    print(f"- {table}")

Tables in the Hospital database:
- Appointments
- Doctors
- MedicalRecords
- Patients

In [63]:
print(db.get_usable_table_names())

['Appointments', 'Doctors', 'MedicalRecords', 'Patients']

In [64]:
print(db.table_info)

CREATE TABLE "Appointments" (
	appointment_id INTEGER,
	doctor_id INTEGER NOT NULL,
	patient_id INTEGER NOT NULL,
	appointment_date TEXT NOT NULL,
	PRIMARY KEY (appointment_id),
	FOREIGN KEY(doctor_id) REFERENCES "Doctors" ("Doctor_id"),
	FOREIGN KEY(patient_id) REFERENCES "Patients" (patient_id)
)

/*
3 rows from Appointments table:
appointment_id	doctor_id	patient_id	appointment_date
1	1	1	2025-06-01
2	2	2	2025-06-02
3	3	3	2025-06-03
*/


CREATE TABLE "Doctors" (
	"Doctor_id" INTEGER,
	name TEXT NOT NULL,
	age INTEGER NOT NULL,
	PRIMARY KEY ("Doctor_id")
)

/*
3 rows from Doctors table:
Doctor_id	name	age
1	Dr. Namalie	45
2	Dr. Nalin	38
3	Dr. Gihan	50
*/


CREATE TABLE "MedicalRecords" (
	record_id INTEGER,
	patient_id INTEGER NOT NULL,
	doctor_id INTEGER NOT NULL,
	diagnosis TEXT NOT NULL,
	treatment TEXT NOT NULL,
	PRIMARY KEY (record_id),
	FOREIGN KEY(patient_id) REFERENCES "Patients" (patient_id),
	FOREIGN KEY(doctor_id) REFERENCES "Doctors" ("Doctor_id")
)

/*
3 rows from MedicalRecords table:
record_id	patient_id	doctor_id	diagnosis	treatment
1	1	1	Flu	Rest and hydration
2	2	2	Hypertension	Medication and lifestyle change
3	3	3	Fractured Arm	Cast and physiotherapy
*/


CREATE TABLE "Patients" (
	patient_id INTEGER,
	patient_name TEXT NOT NULL,
	age INTEGER NOT NULL,
	PRIMARY KEY (patient_id)
)

/*
3 rows from Patients table:
patient_id	patient_name	age
1	Alice Perera	30
2	Bob Fernando	45
3	Chamara Silva	27
*/

In [65]:
HospitalDB.execute("""
    SELECT DISTINCT d.name
    FROM Doctors d
    JOIN MedicalRecords m ON d.Doctor_id = m.doctor_id
""")
Doctors = HospitalDB.fetchall()

print("Doctors with Medical Records:")
for doc in Doctors:
    print(doc[0])

Doctors with Medical Records:
Dr. Namalie
Dr. Nalin
Dr. Gihan
Dr. Wasana

In [66]:
HospitalDB.execute("""
    SELECT DISTINCT d.name
    FROM Doctors d
    JOIN Appointments a ON d.Doctor_id = a.doctor_id
""")
Doctors = HospitalDB.fetchall()

# Print results
print("Doctors with Appointments:")
for doc in Doctors:
    print(doc[0])

Doctors with Appointments:
Dr. Namalie
Dr. Nalin
Dr. Gihan
Dr. Wasana

In [95]:
from langchain.chains import create_sql_query_chain
# Create a SQL query chain using the database and the language model
sql_query_chain = create_sql_query_chain(
    llm=llm,
    db=db
)

In [96]:
from langchain_community.tools import QuerySQLDatabaseTool
query_execute = QuerySQLDatabaseTool(
    db=db
)

In [97]:
query = sql_query_chain.invoke({"question": "Details of all Doctors"})
print(query)

Question: Details of all Doctors
SQLQuery: SELECT "Doctor_id", "name", "age" FROM "Doctors" LIMIT 5

In [110]:
# Get the query from the chain
full_response = sql_query_chain.invoke({"question": "Details of all Doctors"})
print("Full response from chain:")
print(full_response)

# Extract just the SQL part (after "SQLQuery:")
import re
sql_only = re.search(r'SQLQuery: (.*)', full_response, re.DOTALL)
if sql_only:
    clean_query = sql_only.group(1).strip()
    print("\nExtracted SQL query:")
    print(clean_query)
    
    # Execute only the SQL part
    result = query_execute.invoke(clean_query)
    print("\nQuery result:")
    print(result)
else:
    print("Could not extract SQL query from response")

Full response from chain:
Question: Details of all Doctors
SQLQuery: SELECT "Doctor_id", "name", "age" FROM "Doctors" LIMIT 5

Extracted SQL query:
SELECT "Doctor_id", "name", "age" FROM "Doctors" LIMIT 5

Query result:
[(1, 'Dr. Namalie', 45), (2, 'Dr. Nalin', 38), (3, 'Dr. Gihan', 50), (4, 'Dr. Wasana', 40), (5, 'Dr. Anjana', 35)]

In [112]:
query = sql_query_chain.invoke({"question": "Which Doctors are assigned to treat Hypertension and Flu?"})
print(query)

Question: Which Doctors are assigned to treat Hypertension and Flu?
SQLQuery:
SELECT DISTINCT "D"."name"
FROM "Doctors" "D"
JOIN "MedicalRecords" "M" ON "D"."Doctor_id" = "M"."doctor_id"
WHERE "M"."diagnosis" IN ('Hypertension', 'Flu')

In [120]:
# Get the query from the chain
full_response = sql_query_chain.invoke({"question": "Which Doctors are assigned to treat Hypertension and Flu? give me"})
print("Full response from chain:")
print(full_response)

# Extract just the SQL part (after "SQLQuery:")
import re
sql_only = re.search(r'SQLQuery: (.*)', full_response, re.DOTALL)
if sql_only:
    clean_query = sql_only.group(1).strip()
    print("\nExtracted SQL query:")
    print(clean_query)
    
    # Execute only the SQL part
    result = query_execute.invoke(clean_query)
    print("\nQuery result:")
    print(result)
else:
    print("Could not extract SQL query from response")

Full response from chain:
Question: Which Doctors are assigned to treat Hypertension and Flu?
SQLQuery:
SELECT DISTINCT "D"."name"
FROM "Doctors" "D"
JOIN "MedicalRecords" "M" ON "D"."Doctor_id" = "M"."doctor_id"
WHERE "M"."diagnosis" IN ('Hypertension', 'Flu')
LIMIT 5

Extracted SQL query:
SELECT DISTINCT "D"."name"
FROM "Doctors" "D"
JOIN "MedicalRecords" "M" ON "D"."Doctor_id" = "M"."doctor_id"
WHERE "M"."diagnosis" IN ('Hypertension', 'Flu')
LIMIT 5

Query result:
[('Dr. Namalie',), ('Dr. Nalin',)]

In [124]:
# Get the query from the chain
full_response = sql_query_chain.invoke({"question": "Which Doctors are assigned to treat headache and Flu? give me"})
print("Full response from chain:")
print(full_response)

# Extract just the SQL part (after "SQLQuery:")
import re
sql_only = re.search(r'SQLQuery: (.*)', full_response, re.DOTALL)
if sql_only:
    clean_query = sql_only.group(1).strip()
    print("\nExtracted SQL query:")
    print(clean_query)
    
    # Execute only the SQL part
    raw_result = query_execute.invoke(clean_query)
    
    # Format the results professionally
    def format_professional_results(result_str, question):
        print("\n" + "="*60)
        print(f"QUERY RESULTS: {question}")
        print("="*60)
        
        # Parse the result (assuming it comes as a string representation of a list)
        try:
            # Handle different result formats
            if isinstance(result_str, list):
                results = result_str
            else:
                # Convert string representation of results to actual data
                import ast
                results = ast.literal_eval(result_str)
                
            if len(results) == 0:
                print("No results found.")
                return
                
            # Get column names from first result if available
            if isinstance(results[0], dict):
                headers = results[0].keys()
                # Create header row
                header_str = " | ".join(str(h).upper() for h in headers)
                print(header_str)
                print("-" * len(header_str))
                
                # Print each row
                for row in results:
                    print(" | ".join(str(row[h]) for h in headers))
            else:
                # If results are simple tuples/lists
                for row in results:
                    if isinstance(row, (list, tuple)):
                        print(" | ".join(str(item) for item in row))
                    else:
                        print(row)
        except Exception as e:
            # Fallback if parsing fails
            print("Couldn't format results, showing raw output:")
            print(result_str)
            
        print("="*60)
    
    # Present the formatted results
    format_professional_results(raw_result, "Doctors Treating Hypertension and Flu")
else:
    print("Could not extract SQL query from response")

Full response from chain:
To answer this question, we need to find the doctors who are assigned to treat headache and Flu. However, since there is no record of a patient being diagnosed with a headache in the provided MedicalRecords table, we can only find the doctor who is assigned to treat Flu.

SQLQuery:
```sql
SELECT "Doctors".name
FROM "Doctors"
JOIN "MedicalRecords" ON "Doctors"."Doctor_id" = "MedicalRecords".doctor_id
WHERE "MedicalRecords".diagnosis = 'Flu'
LIMIT 5;
```

Since there is no record of a patient being diagnosed with a headache, we cannot find any doctor assigned to treat headache.

Please note that the above query will return the doctor who is assigned to treat Flu. If you want to get the doctors who are assigned to treat both headache and Flu, you would need to have a record of a patient being diagnosed with a headache in the MedicalRecords table.

Let's assume the query is run and we get the result.

Extracted SQL query:
```sql
SELECT "Doctors".name
FROM "Doctors"
JOIN "MedicalRecords" ON "Doctors"."Doctor_id" = "MedicalRecords".doctor_id
WHERE "MedicalRecords".diagnosis = 'Flu'
LIMIT 5;
```

Since there is no record of a patient being diagnosed with a headache, we cannot find any doctor assigned to treat headache.

Please note that the above query will return the doctor who is assigned to treat Flu. If you want to get the doctors who are assigned to treat both headache and Flu, you would need to have a record of a patient being diagnosed with a headache in the MedicalRecords table.

Let's assume the query is run and we get the result.

============================================================
QUERY RESULTS: Doctors Treating Hypertension and Flu
============================================================
Couldn't format results, showing raw output:
Error: (sqlite3.OperationalError) near "```sql
SELECT "Doctors".name
FROM "Doctors"
JOIN "MedicalRecords" ON "Doctors"."Doctor_id" = "MedicalRecords".doctor_id
WHERE "MedicalRecords".diagnosis = 'Flu'
LIMIT 5;
```": syntax error
[SQL: ```sql
SELECT "Doctors".name
FROM "Doctors"
JOIN "MedicalRecords" ON "Doctors"."Doctor_id" = "MedicalRecords".doctor_id
WHERE "MedicalRecords".diagnosis = 'Flu'
LIMIT 5;
```

Since there is no record of a patient being diagnosed with a headache, we cannot find any doctor assigned to treat headache.

Please note that the above query will return the doctor who is assigned to treat Flu. If you want to get the doctors who are assigned to treat both headache and Flu, you would need to have a record of a patient being diagnosed with a headache in the MedicalRecords table.

Let's assume the query is run and we get the result.]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
============================================================

In [115]:
from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
    """Given a user question, the generated SQL query, and its result, write a clear and natural answer to the question.

    User Question: {question}
    SQL Query: {query}
    SQL Result: {result}

    Final Answer:"""
)

final_answer = answer_prompt | llm | StrOutputParser()

In [116]:
chain = (
    RunnablePassthrough.assign(query=sql_query_chain).assign(
        result=itemgetter("query") | query_execute
    )
    | final_answer
)

In [117]:
chain.invoke({"question": "Details of all Doctors"})

'There was an error in retrieving the details of all doctors. The system encountered a syntax error while processing the request, which prevented the retrieval of the desired information. Please try again or contact the administrator for further assistance.'

In [108]:
chain.invoke({"question": "Which Doctors are assigned to treat flu?"})

'It seems there was an error in processing your request. The system encountered a syntax error while trying to execute the query to find the doctors assigned to treat flu. Unfortunately, this means we cannot provide the list of doctors at this time. Please try again later or contact support for further assistance.'